h2{
  margin: 0 auto;
}

.ducks{
  padding: .8rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: .5rem;
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.green{
  color: green;
}

.button {
  background: #7289da;
  border-radius: 5px;
  color: white;
  border: none;
  width: 8rem;
  height: 2rem;
  margin-bottom: 8px;
  margin-right: .5rem;
  font-weight: bold;
}
