h2{
  margin: 0 auto;
}

.ducks{
  padding: .8rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: .5rem;
  overflow: hidden;
}

.scale{
  background: #2f3136;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  border: none;
  width: 100%;
  height: 2rem;
  font-weight: bold;
  outline: none;
}
