h1 {
  color: #fff;
}
.wrapper {
  padding-top: 0;
  margin-left: 2rem;
  width: 500px;
  color: white;
}

.logger {
  position: absolute;
  top: 350px;
  margin-left: 2rem;
  padding-top: 2rem;
  width: 500px;
  height: 300px;
  color: white;
}

.leftColumn {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.lake {
  margin-right: 2rem;
  margin-left: 2rem;
  padding-top: 2rem;
  width: 100%;
  max-width: 600px;
  height: 300px;
}
