h1 {
  color: #fff;
}
.wrapper {
  padding-top: 0;
  margin-left: 2rem;
  width: 500px;
  color: white;
}

.logger {
  margin-left: 1rem;
  margin-right: 3.8rem;
  padding-top: 2rem;
  width: 40rem;
  height: auto;
  color: white;
}
