/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #36393f;
}

app-root{
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.button {
  background: #7289da;
  border-radius: 5px;
  color: white;
  border: none;
  width: 8rem;
  height: 2rem;
  font-weight: bold;
  outline: none;
}

.justify{
  display: flex;
  justify-content: space-between;
}
